/bower_components
/config
/dist
/tests
/tmp
**/.gitkeep
.bowerrc
.editorconfig
.ember-cli
.eslintignore
.eslintrc
.github
.gitignore
.jshintrc
.pullapprove.yml
.travis
.watchmanconfig
.travis.yml
bower.json
dependency-snapshot.json
ember-cli-build.js
jsconfig.json
testem.js
.idea
/visual-acceptance
