@import 'node_modules/ember-frost-core/addon/styles/addon';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}
.dummy {
  &-body {
    display: flex;
    justify-content: center;
  }
  &-content {
    position: relative;
    padding: 10px;
  }
}

.close {
  margin-right: 92%;
  padding: 10px 0;
}

.resize-on, .resize-off {
  margin: 10px 75px;
}

.viewport {
  position: relative;
  border: 1px solid black;
  width: 400px;
  height: 400px;

  .viewport-left {
    position: absolute;
    top: 50%;
    left: 0;
  }

  .viewport-right {
    position: absolute;
    top: 50%;
    right: 0;
  }

  .viewport-top {
    position: absolute;
    top: 0;
    left: 50%;
  }

  .viewport-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}
