@import 'node_modules/ember-frost-core/addon/styles/addon';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.middle {
  margin-left: 50%;
}
.close {
  margin-right: 92%;
  padding: 10px 0; 
}
.target {
  margin-right: 89%;
}
.lefty {
  float: left;
  padding: 0 10px;
}