@import 'node_modules/ember-frost-core/addon/styles/addon';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}
