@import 'node_modules/ember-frost-core/addon/styles/addon';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 400px;
  margin: auto;
}
.dummy {
  &-body {
    height: 1000px;
    display: flex;
    justify-content: center;
  }
  &-content {
    position: relative;
    padding: 10px;
  }
}

.close-button {
  display: flex;
  justify-content: center;
}

.resize-on, .resize-off {
  margin: 10px 75px;
}
