<h2>DOM Placements</h2>
<h2>Positions</h2>

<!-- Top -->
{{#frost-button hook='topButton' size='small' priority='primary' class='button-top' text='Top'}}
  {{#frost-popover hook='topButton-popover' target='.button-top' closest=true position='top'}}
    <span class='inside'>Tooltip is showing above the target</span>
  {{/frost-popover}}
{{/frost-button}}
<!-- Top Right -->
{{#frost-button hook='topButton' size='small' priority='primary' class='button-top-right' text='Top right'}}
  {{#frost-popover hook='topButtonRight-popover' target='.button-top-right' closest=true position='top right'}}
    <span class='inside'>Tooltip is showing above the target</span>
  {{/frost-popover}}
{{/frost-button}}
<!-- Top Left -->
{{#frost-button hook='topButton' size='small' priority='primary' class='button-top-left' text='Top left'}}
  {{#frost-popover hook='topButtonRight-popover' target='.button-top-left' closest=true position='top left'}}
    <span class='inside'>Tooltip is showing above the target</span>
  {{/frost-popover}}
{{/frost-button}}
<!-- Right -->
{{#frost-button hook='rightButton' size='small' priority='primary' class='button-right' text='Right'}}
  {{#frost-popover hook='rightButton-popover' target='.button-right' closest=true position='right'}}
    <span class='inside'>Tooltip is showing to the right of the target</span>
  {{/frost-popover}}
{{/frost-button}}
<!-- Right Top -->
{{#frost-button hook='rightButton' size='small' priority='primary' class='button-right-top' text='Right top'}}
  {{#frost-popover hook='rightButton-popover' target='.button-right-top' closest=true position='right top'}}
    <span class='inside'>Tooltip is showing to the right of the target</span>
  {{/frost-popover}}
{{/frost-button}}
<!-- Bottom -->
{{#frost-button hook='bottomButton' size='small' priority='primary' class='button-bottom' text='Bottom'}}
  {{#frost-popover hook='buttomBottom-popover' target='.button-bottom' closest=true position='bottom'}}
    <span class='inside'>Tooltip is showing below the target</span>
  {{/frost-popover}}
{{/frost-button}}
<!-- Left -->
{{#frost-button hook='leftButton' size='small' priority='primary' class='button-left' text='Left'}}
  {{#frost-popover hook='leftButton-popover' target='.button-left' closest=true position='left'}}
    <span class='inside'>Tooltip is showing to the left of the target</span>
  {{/frost-popover}}
{{/frost-button}}

<h2>Activating Event</h2>
{{#frost-button hook='mouseEnterButton' size='small' priority='primary' class='event-mouse' text='onHover'}}
  {{#frost-popover hook='mouseEnterButton-popover' target='.event-mouse' closest=true event='hover'}}
    <span class='inside'>Tooltip is toggled on mouse enter and mouse leave</span>
  {{/frost-popover}}
{{/frost-button}}

{{#frost-button hook='clickButton' size='small' priority='primary' class='event-click' text='onClick'}}
  {{#frost-popover hook='clickButton-popover' target='.event-click' closest=true event='click'}}
    <span class='inside'>tooltip is toggled on click</span>
  {{/frost-popover}}
{{/frost-button}}
